.ItemPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
}

.ItemPage > * {
  padding: 10px;
}

.ItemPage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 0;
}

.ItemPage__Text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.ItemPage__Text--description {
  text-align: justify;
}

.ItemPage__Text--locations,
.ItemPage__Text--drops {
  padding-left: 40px;
}
