.CloseButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s;
  cursor: pointer;
}

.CloseButton:active {
  transform: scale(2);
}
